# Web framework
fastapi
uvicorn

# Blockchain
web3

# IA
google-genai

# Recherche
requests

# Utils
python-dotenv


supabase
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pydantic

pydantic-settings

aiofiles
httpx
pyngrok